:root{
    /*typography*/
    --primary-font: 'Fira Sans', sans-serif;
    --headline-font: 'Poppins', sans-serif;
    --fw-l: 100;
    --fw-m: 300;
    --fw-b: 500;
    --fs-base: 1rem;

    /*colors*/
    --primary-color: #8C2323;
    --secondary-color: #B43D20;
    --tertiary-color: #F2E2CE;
    --neutral-lt-color:#f8f9fa;
    --neutral-mid-color: #6c757d;
    --accent-color: #ee9b00;

    /*helper*/
    --spacer: 1rem;
    --border-radius: 6px;
    --shadow: 0 0 6px rgba(0, 0, 0, .3);
    --spacer-dbl: calc(var(--spacer)*2);
}

body{
    background-color: var(--neutral-lt-color);
    color: var(--neutral-mid-color);
    font-family: var(--primary-font);
    font-weight: var(--fw-m);
    display: flex;
    flex-direction: column;
    height: 100svh;
}
h1{
    color: var(--primary-color);
    font-family: var(--headline-font);
    font-size: 3rem;
}

h2{
    color: var(--secondary-color);
    font-family: var(--headline-font);
    font-size: 2rem;
    margin-top: calc(var(--spacer)/2);
}

p{
    margin-bottom: var(--spacer);
}

header{
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    padding: var(--spacer-dbl);
}

.btn{
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    color: var(--neutral-lt-color);
    cursor: pointer;
    padding: 6px 12px;
    transition: background-color .3s ease;
    text-decoration: none;
}

.btn:hover{
    background-color: var(--accent-color);
}

section.cards{
    display: flex;
    gap: var(--spacer);
    width: 80%;
    margin: var(--spacer-dbl) auto;
}

.cards article {
    border: solod 1px var(--secondary-color);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    padding: var(--spacer);
}

.cards p{
    padding-top: 1rem;
}